# This .gitignore will only track makefiles and files with extensions *.cpp, *.h, *.py and *.ino

# Blacklist everything
*
# Whitelist all directories
!*/

# Whitelist makefiles
!makefile
!Makefile

# Whitelist the specific file extensions
!*.cpp
!*.h
!*.py
!*.ino
