# This .gitignore will only track makefiles and files with extensions *.csv, *.cpp, *.h, *.py and *.ino

# Blacklist everything
*
# Whitelist all directories
!*/

# Whitelist makefiles
!makefile
!Makefile

# Whitelist the specific file extensions
!*.csv
!*.cpp
!*.h
!*.py
!*.ino
!*.cpp
!.gitignore

*._simOut.csv
